

@media (max-width: 768px) {
    
    .nav {
        background : rgba(165, 29, 165, 0.349);
    }
    .ul-nav-list{
        display: none;
    }
    .container-1 {
        display: flex;
       flex-wrap: wrap;
    }
    .mobile-content-hidden
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        margin-top: 0px;};

    .span-stick {
        width: 100%;
            display: block;
            background-color:rgba(0,0,0,0.92);
            color: rgba(0,0,0,0.92);
            width: 25px;
            height: 2px;
            margin: 2px 2px;
        }
    .mobile-logo-wrapper{
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            display: block;
            // justify-content: space-around;
            // background-color: rgb(255, 255, 255);
            
        }
    .mobile-logo img{
            width: 25px;
            height: 25px;
                display: block;
                margin-top: 0px;
                background-image: url(..//..//images/logo.png);
            }
            .img-book-wrapper-1 {
                height: 400px;
            }
            .img-book-wrapper-2 {
                height: 400px;
            }
            .img-book-wrapper-3 {
                height: 400px;
            }
            .img-book-1 {
                margin-top: 10px;
            }
            .img-book-4 {
                height: 378px;
            }
        }
