

@media (max-width: 768px) {
    
    .nav {
        background : rgba(165, 29, 165, 0.349);
    }
    .ul-nav-list{
        display: none;
    }
    .container-1 {
        display: flex;
       flex-wrap: wrap;
    }
    .mobile-content-hidden
    {   
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        // border: 3px solid #fff;

        // display: flex;
        // flex-wrap: nowrap;
        // justify-content: space-between;
        // align-items: center;
    }
    .menu-btn_burger {
        width: 50px;
        height: 5px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(165, 29, 165, 0.349);
        transition: all .5s ease-in-out;
    }
    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 5px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(165, 29, 165, 0.349);
        transition: all .5s ease-in-out;

    }

    .menu-btn_burger::before {
        transform: translateY(-16px);
    }
    .menu-btn_burger::after {
        transform: translateY(16px);
    }

    //ANIMATION
    .mobile-content-hidden.open .menu-btn_burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .mobile-content-hidden.open .menu-btn_burger::before{
        transform: rotate(45deg); translate: (35px, -35px);
    }
    .mobile-content-hidden.open .menu-btn_burger::after{
        transform: rotate(-45deg); translate: (35px, 35px);
    }


    .mobile-header {
        margin-top: 0px;
        .mobile-header-menu-button {
            background-color: rgba(252, 252, 252, 0);
            color: rgba(0,0,0,0);
            border: none;
        }
    
    }

    .span-stick {
        width: 100%;
            display: block;
            background-color:rgba(0,0,0,0.92);
            color: rgba(0,0,0,0.92);
            width: 25px;
            height: 2px;
            margin: 2px 2px;
        }
    .mobile-logo-wrapper{
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            display: block;
            // justify-content: space-around;
            // background-color: rgb(255, 255, 255);
            
        }
    .mobile-logo img{
            width: 25px;
            height: 25px;
                display: block;
                margin-top: 0px;
                background-image: url(..//..//images/logo.png);
            }
            .img-book-wrapper-1 {
                height: 400px;
            }
            .img-book-wrapper-2 {
                height: 400px;
            }
            .img-book-wrapper-3 {
                height: 400px;
            }
            .img-book-1 {
                margin-top: 10px;
            }
            .img-book-4 {
                height: 378px;
            }
        }
